body {
    background-image: url(yarn.jpg);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
}

#text-background {
    height: 75px;
    width: 200px;
    border: 5px solid white; 
    border-radius: 10px;
    background-color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#div-width {
    max-width: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    text-shadow: 0 0 4px black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#increment-btn {
    background: lightskyblue;
}

#save-btn {
    background: lightcoral;
}

